CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

/dist
/build
/wheelFile.egg-info
/tests/__pycache__/
tests/__pycache__/test.cpython-37.pyc
